********************************************************************************
	Hostname:	{{ ansible_fqdn }}
	IPAddress:	{{ ansible_default_ipv4.address }}
	OS:		RHEL v{{ ansible_distribution_version }}

********************************************************************************
