---
# tasks file for satellite

# Install Katello Bootstrap RPM
- name: Install katello-ca-consumer-latest Bootstrap RPM
  yum:
    name: "http://satellite.mi.arm.com/pub/katello-ca-consumer-latest.noarch.rpm"
    state: present
#  register: katello_bootstrap_installed

# Subscribe to Satellite using subscription-manager
- name: Subscribe {{ ansible_hostname }} to Satellite
  redhat_subscription:
    state: present
    activationkey: "{{ satellite_activationkey }}"
    org_id: "{{ satellite_orgid}}"
#  when: katello_bootstrap_installed
